body {
    background-color: #9f9a9a;
}


#my-form{
    
    width: 25%;
    display: grid;
    padding: 2rem;
    background: #f3efef;
    border: solid green;
    border-radius: 2rem;
    margin-left: 35%;
}

#btn {
    border: solid rgb(34, 32, 36);
    background-color: #5277ef;
    border-radius: 2rem;
}

.search-bar {
    
    margin-left: 5px;
    
}

#search {
    background-color: #5277ef;;
}

.center-design{
    margin-left: 25%;
    margin-bottom: 20%;
}

.search-bar2 {
    
    float: right;
    margin-top: 0;
    
}